ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
}

mat-icon{
  color: white;
  font-size: 18px;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color:#0747a6;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      font-size: 24px;
      height: 100%;
 }

.logoicontext{
    letter-spacing: 2px;
    font: 18px arial, sans-serif;
    text-decoration: none;
    color: white;
}
